<template>
  <div
    :ref="'element'"
    :class="blockClassName"
    :style="blockInlineStyle"
  >{{ block.weight }}kg
  </div>
</template>

<script>
export default {
  name: 'Block',
  props: {
    block: {
      type: Object,
      required: true,
    },
    side: {
      type: Boolean,
    },
    top: {
      type: Number,
    },
  },
  computed: {
    blockClassName() {
      const { type } = this.block;

      switch (type) {
        case 0:
          return 'block-circle';
        case 1:
          return 'block-triangle';
        case 2:
          return 'block-rectangle';
        default:
          return 'block-circle';
      }
    },
    blockInlineStyle() {
      const { offset, type, height } = this.block;
      const { side, roundUp, top } = this;

      const topOffset = top || 0;
      const leftOffset = side ? 50 + offset * 10 : 50 - offset * 10;
      const blockHeight = type !== 1
        ? {
          height: `${roundUp(height)}px`,
          width: `${roundUp(height)}px`,
          lineHeight: `${roundUp(height)}px`,
        }
        : {
          borderWidth: `0 ${roundUp(height / 2)}px ${roundUp(height)}px ${roundUp(height / 2)}px`,
          lineHeight: `${roundUp(height * 1.6)}px`,
        };

      return {
        top: `${topOffset}px`,
        left: `${leftOffset}%`,
        ...blockHeight,
      };
    },
  },
  methods: {
    roundUp(number) {
      return Math.round(number * 100) / 100;
    },
    getBlockBottomCoord() {
      const domElement = this.$refs.element;

      return domElement.getBoundingClientRect().bottom;
    },
  },
};
</script>

<style lang="scss" scoped>
    .block-circle, .block-rectangle, .block-triangle {
        position: absolute;
        transform: translate(-30%, -100%);
        text-align: center;
        font-size: 10px;
        font-weight: bold;
    }

    .block-circle {
        background-color: cornflowerblue;
        border-radius: 50%;
    }

    .block-triangle {
        width: 0;
        height: 0;
        border-style: solid;
        border-color: transparent transparent gold transparent;
    }

    .block-rectangle {
        background-color: green;
    }
</style>
