<template>
  <div class="gameBoard">
    <Sky/>
    <TeetleTottle/>
  </div>
</template>

<script>
  import Sky from './Sky.vue';
  import TeetleTottle from './TeetleTottle.vue';

  export default {
    name: 'GameBoard',
    components: {
      Sky,
      TeetleTottle,
    },
  };
</script>

<style scoped lang="scss">
  .gameBoard {
    width: 80%;
    height: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
  }

</style>
