<template>
  <div class="navbar">
    <a href="#" @click="newGame">New Game</a>
    <a href="#" @click="toggleStart">{{ StartStopText }}</a>
    <!--TODO: Add auto play-->
    <a href="javascript:alert('Coming soon...');">Auto Play</a>
  </div>
</template>

<script>
import { mapActions, mapMutations, mapState, mapGetters } from 'vuex';
import { NEW_GAME, TOGGLE_START } from '../constants';

export default {
  name: 'Navbar',
  computed: {
    ...mapState({
      isPaused: state => state.isPaused,
    }),
    /**
     * @return {string}
     */
    StartStopText() {
      return this.isPaused ? 'Start' : 'Pause';
    },
  },
  methods: {
    ...mapMutations({
      newGame: NEW_GAME,
      toggleStart: TOGGLE_START,
    }),
    ...mapActions({
      newGame: NEW_GAME,
    }),
  },
};
</script>

<style scoped>
.navbar {
  background-color: #333;
  overflow: hidden;
  position: fixed;
  bottom: 0;
  width: 100%;
  text-align: center;
}
.navbar a {
  width: 25%;
  display: inline-block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}
.navbar a:not(:last-child) {
  border-right: 1px solid gray;
}

.navbar a:hover {
  background-color: #ddd;
  color: black;
}
</style>
