<template>
  <section class="sky">
    <MovingObject
      v-for="(block, index) in movingObjects"
      :key="block.id"
      :block="block"
      :index="index"
      :time-out="timeOut"
      @finished-falling="onFinishFalling"
    />
  </section>
</template>

<script>
  import {mapMutations} from 'vuex';
  import MovingObject from './MovingObject.vue';
  import {
    INITIALIZE_FALLING_BLOCKS,
    MOVE_LEFT,
    MOVE_RIGHT,
    ITERATION_COUNT_INCREASING,
    TIMEOUT_STEP_DECREASING,
    INITIAL_TIMEOUT,
  } from '../constants';

  export default {
    name: 'Sky',
    components: {
      MovingObject,
    },
    data() {
      return {
        timeOut: INITIAL_TIMEOUT,
        iterationCounter: 0,
      };
    },
    computed: {
      movingObjects() {
        return this.$store.state.movingObjects;
      },
    },
    methods: {
      ...mapMutations({
        initializeMovingObjects: INITIALIZE_FALLING_BLOCKS,
        moveBlockRight: MOVE_RIGHT,
        moveBlockLeft: MOVE_LEFT,
      }),
      onKeyDown({keyCode}) {
        if (keyCode === 39) this.moveBlockRight();
        if (keyCode === 37) this.moveBlockLeft();
      },
      onFinishFalling() {
        this.iterationCounter = this.iterationCounter + 2;
        if (this.iterationCounter === ITERATION_COUNT_INCREASING) {
          this.timeOut -= TIMEOUT_STEP_DECREASING;
          this.iterationCounter = 0;
        }
      },
    },
    beforeMount() {
      this.initializeMovingObjects();
      window.addEventListener('keydown', this.onKeyDown);
    },
    beforeDestroy() {
      window.removeEventListener('keydown', this.onKeyDown);
    },
  };
</script>

<style>
  .sky {
    width: 100%;
    position: relative;
  }
</style>
