<template>
  <div
    class="swing"
    :style="inlineStyleSwing"
  >
    <Block
      v-for="block in leftSideBlocks"
      :key="block.id"
      :block="block"
    />
    <Block
      v-for="block in rightSideBlocks"
      :key="block.id"
      :block="block"
      :side="true"
    />
  </div>
</template>

<script>
import { mapState, mapMutations } from 'vuex';
import Block from './Block.vue';
import { ADD_RIGHT_SIDE_BLOCK } from '../constants';

export default {
  name: 'Swing',
  components: {
    Block,
  },
  computed: {
    ...mapState([
      'rightSideBlocks',
      'leftSideBlocks',
    ]),
    swingBending() {
      return this.$store.getters.swingBending;
    },
    inlineStyleSwing() {
      return {
        transform: `rotate(${this.swingBending / 2}deg)`,
      };
    },
  },
  methods: {
    ...mapMutations({
      addRightBlock: ADD_RIGHT_SIDE_BLOCK,
    }),
  },
  beforeMount() {
    this.addRightBlock();
  },
};
</script>

<style lang="scss" scoped>
    .swing {
        width: 100%;
        height: 8px;
        background-color: darkred;
        position: relative;
        transform: rotate(0deg);
        transition: transform 0.4s ease-in-out;
    }
</style>
