<template>
  <section class="teetleTottle">
    <Swing />
    <div class="screenBorder" />
    <div class="pillar" />
    <div class="information">
      <h1>Teetle Tottle</h1>
      Sum of power by weight and position <br/>
      Left Side: {{leftSum}} kg | Right Side: {{rightSum}} kg | Arc: {{Math.round(swingBending)}}</div>
    <div id="gameOver">Game Over</div>
  </section>
</template>

<script>
import Swing from './Swing.vue';
import { mapGetters } from "vuex";

export default {
  name: 'TeetleTottle',
  computed: {
    ...mapGetters(
      ['leftSum', 'rightSum', 'swingBending']
    ),
  },
  components: {
    Swing,
  },
};
</script>

<style scoped>
    .teetleTottle{
        width: 80%;
        position: fixed;
        bottom: 45px;
      text-align: center;
    }
    .pillar {
      margin: 0 auto;
      width: 0;
      height: 0;
      border-color: transparent transparent #333333 transparent;
      border-style: solid;
      border-width: 0 30px 250px 30px;
    }
    .screenBorder {
      border: 50px solid #333333;
      position: fixed;
      top: 0;
      left: 0;
      height: 100%;
      right: 0;
    }
    .information {
      background-color: #333333;
      display: inline-block;
      color: gray;
      padding: 15px;
      font-size: 14px;
      line-height: 150%;
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100px;
    }
    .information h1 {
      color: #ffffff;
    }
    #gameOver {
      display: none;
      font-size: 48px;
      color: #000000;
      background-color: red;
      position: fixed;
      top: 40%;
      left: calc(50% - 200px);
      padding: 100px 0;
      width: 400px;
    }
</style>
