<template>
  <div id="app">
    <GameBoard/>
    <Navbar/>
  </div>
</template>

<script>
  import GameBoard from './components/GameBoard.vue';
  import Navbar from './components/Navbar.vue';

  export default {
    name: 'App',
    components: {
      GameBoard,
      Navbar,
    },
  };
</script>

<style>
  body {
    margin: 0;
    padding: 0;
  }

  #app {
    overflow: hidden;
    height: 100vh;
    flex-direction: column;
    display: flex;
  }
</style>
